{% extends 'layout/base.html' %}
{% block title %}Logout{% endblock %}
{% block main %}
    {% load bootstrap4 %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">Logout</div>
                    <div class="card-body">
                        <span>Thanks for spending some quality time with the Web site today.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}