<!DOCTYPE html>
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Arioscen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:index' %}">User</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'files:index' %}">File</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.email }} <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'users:logout' %}?next={{ request.path|urlencode }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'users:login' %}?next={{ request.path|urlencode }}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'users:create' %}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown mr-5">
                    <a id="languageDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Languages" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <a class="dropdown-item" href="" id="{{ lang.0 }}" onclick="changeLanguage(this)">{{ lang.1 }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row">
            <div style="width:10%"></div>
            <nav class=" d-none d-sm-block navbar-dark bg-dark position-fixed" style="min-height: 100vh; width:10%">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><h3>{% trans "Test001" %}</h3></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><h3>{% trans "Test002" %}</h3></a>
                    </li>
                </ul>
            </nav>
            <main class="col-10 py-4">
                {% bootstrap_messages %}
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
    <script>
        function changeLanguage(obj) {
            $.ajax({
                type: 'post',
                url: '/i18n/setlang/',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken : '{{csrf_token}}',
                    'language': obj.id
                },
                success: function(data) {
                    location.reload();
                },
            });
        }
    </script>
</body>
</html>